wsdl/DocumentAdaptor.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions
	name="DocumentAdaptor" targetNamespace="http://www.teranet.ca/elrs/DocumentAdaptor" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.teranet.ca/elrs/DocumentAdaptor" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema>
      		<xsd:import namespace="http://www.teranet.ca/elrs/DocumentAdaptor" schemaLocation="DocumentAdaptor_schema1.xsd"/>
    	</xsd:schema>
	</types>
	<message name="lipopt22">
		<part name="parameters" element="tns:lipopt22" />
	</message>
	<message name="lipopt22Response">
		<part name="parameters" element="tns:lipopt22Response" />
	</message>
	<message name="lipopt23">
		<part name="parameters" element="tns:lipopt23" />
	</message>
	<message name="lipopt23Response">
		<part name="parameters" element="tns:lipopt23Response" />
	</message>
	<message name="lipopt24">
		<part name="parameters" element="tns:lipopt24" />
	</message>
	<message name="lipopt24Response">
		<part name="parameters" element="tns:lipopt24Response" />
	</message>
	<message name="lipopt14">
		<part name="parameters" element="tns:lipopt14" />
	</message>
	<message name="lipopt14Response">
		<part name="parameters" element="tns:lipopt14Response" />
	</message>
	<message name="lipopt37">
		<part name="parameters" element="tns:lipopt37" />
	</message>
	<message name="lipopt37Response">
		<part name="parameters" element="tns:lipopt37Response" />
	</message>
	<message name="lipopt43">
		<part name="parameters" element="tns:lipopt43" />
	</message>
	<message name="lipopt43Response">
		<part name="parameters" element="tns:lipopt43Response" />
	</message>
	<message name="lipopt45">
		<part name="parameters" element="tns:lipopt45" />
	</message>
	<message name="lipopt45Response">
		<part name="parameters" element="tns:lipopt45Response" />
	</message>
	<message name="lipopt46">
		<part name="parameters" element="tns:lipopt46" />
	</message>
	<message name="lipopt46Response">
		<part name="parameters" element="tns:lipopt46Response" />
	</message>
	<message name="lipopt49">
		<part name="parameters" element="tns:lipopt49" />
	</message>
	<message name="lipopt49Response">
		<part name="parameters" element="tns:lipopt49Response" />
	</message>
	<message name="lipopt70">
		<part name="parameters" element="tns:lipopt70" />
	</message>
	<message name="lipopt70Response">
		<part name="parameters" element="tns:lipopt70Response" />
	</message>
	<message name="lipopt71">
		<part name="parameters" element="tns:lipopt71" />
	</message>
	<message name="lipopt71Response">
		<part name="parameters" element="tns:lipopt71Response" />
	</message>
	<message name="lipopt72">
		<part name="parameters" element="tns:lipopt72" />
	</message>
	<message name="lipopt72Response">
		<part name="parameters" element="tns:lipopt72Response" />
	</message>
	<message name="lipopt75">
		<part name="parameters" element="tns:lipopt75" />
	</message>
	<message name="lipopt75Response">
		<part name="parameters" element="tns:lipopt75Response" />
	</message>
	<message name="lipopt78">
		<part name="parameters" element="tns:lipopt78" />
	</message>
	<message name="lipopt78Response">
		<part name="parameters" element="tns:lipopt78Response" />
	</message>
	<message name="lipopt78PINSpecific">
		<part name="parameters" element="tns:lipopt78PINSpecific" />
	</message>
	<message name="lipopt78PINSpecificResponse">
		<part name="parameters" element="tns:lipopt78PINSpecificResponse" />
	</message>
	<message name="lipopt79">
		<part name="parameters" element="tns:lipopt79" />
	</message>
	<message name="lipopt79Response">
		<part name="parameters" element="tns:lipopt79Response" />
	</message>
	<message name="lipopt91">
		<part name="parameters" element="tns:lipopt91" />
	</message>
	<message name="lipopt91Response">
		<part name="parameters" element="tns:lipopt91Response" />
	</message>
	<message name="lipopt92">
		<part name="parameters" element="tns:lipopt92" />
	</message>
	<message name="lipopt92Response">
		<part name="parameters" element="tns:lipopt92Response" />
	</message>
	<message name="lipopt93">
		<part name="parameters" element="tns:lipopt93" />
	</message>
	<message name="lipopt93Response">
		<part name="parameters" element="tns:lipopt93Response" />
	</message>
	<message name="lipopt94">
		<part name="parameters" element="tns:lipopt94" />
	</message>
	<message name="lipopt94Response">
		<part name="parameters" element="tns:lipopt94Response" />
	</message>
	<message name="lipopt95">
		<part name="parameters" element="tns:lipopt95" />
	</message>
	<message name="lipopt95Response">
		<part name="parameters" element="tns:lipopt95Response" />
	</message>
	<message name="lipopt96">
		<part name="parameters" element="tns:lipopt96" />
	</message>
	<message name="lipopt96Response">
		<part name="parameters" element="tns:lipopt96Response" />
	</message>
	<message name="lipopt97">
		<part name="parameters" element="tns:lipopt97" />
	</message>
	<message name="lipopt97Response">
		<part name="parameters" element="tns:lipopt97Response" />
	</message>
	<portType name="DocumentAdaptor">
		<operation name="lipopt22">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt22Request"
				message="tns:lipopt22" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt22Response"
				message="tns:lipopt22Response" />
		</operation>
		<operation name="lipopt23">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt23Request"
				message="tns:lipopt23" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt23Response"
				message="tns:lipopt23Response" />
		</operation>
		<operation name="lipopt24">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt24Request"
				message="tns:lipopt24" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt24Response"
				message="tns:lipopt24Response" />
		</operation>
		<operation name="lipopt14">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt14Request"
				message="tns:lipopt14" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt14Response"
				message="tns:lipopt14Response" />
		</operation>
		<operation name="lipopt37">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt37Request"
				message="tns:lipopt37" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt37Response"
				message="tns:lipopt37Response" />
		</operation>
		<operation name="lipopt43">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt43Request"
				message="tns:lipopt43" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt43Response"
				message="tns:lipopt43Response" />
		</operation>
		<operation name="lipopt45">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt45Request"
				message="tns:lipopt45" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt45Response"
				message="tns:lipopt45Response" />
		</operation>
		<operation name="lipopt46">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt46Request"
				message="tns:lipopt46" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt46Response"
				message="tns:lipopt46Response" />
		</operation>
		<operation name="lipopt49">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt49Request"
				message="tns:lipopt49" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt49Response"
				message="tns:lipopt49Response" />
		</operation>
		<operation name="lipopt70">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt70Request"
				message="tns:lipopt70" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt70Response"
				message="tns:lipopt70Response" />
		</operation>
		<operation name="lipopt71">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt71Request"
				message="tns:lipopt71" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt71Response"
				message="tns:lipopt71Response" />
		</operation>
		<operation name="lipopt72">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt72Request"
				message="tns:lipopt72" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt72Response"
				message="tns:lipopt72Response" />
		</operation>
		<operation name="lipopt75">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt75Request"
				message="tns:lipopt75" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt75Response"
				message="tns:lipopt75Response" />
		</operation>
		<operation name="lipopt78">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt78Request"
				message="tns:lipopt78" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt78Response"
				message="tns:lipopt78Response" />
		</operation>
		<operation name="lipopt78PINSpecific">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt78PINSpecificRequest"
				message="tns:lipopt78PINSpecific" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt78PINSpecificResponse"
				message="tns:lipopt78PINSpecificResponse" />
		</operation>
		<operation name="lipopt79">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt79Request"
				message="tns:lipopt79" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt79Response"
				message="tns:lipopt79Response" />
		</operation>
		<operation name="lipopt91">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt91Request"
				message="tns:lipopt91" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt91Response"
				message="tns:lipopt91Response" />
		</operation>
		<operation name="lipopt92">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt92Request"
				message="tns:lipopt92" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt92Response"
				message="tns:lipopt92Response" />
		</operation>
		<operation name="lipopt93">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt93Request"
				message="tns:lipopt93" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt93Response"
				message="tns:lipopt93Response" />
		</operation>
		<operation name="lipopt94">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt94Request"
				message="tns:lipopt94" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt94Response"
				message="tns:lipopt94Response" />
		</operation>
		<operation name="lipopt95">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt95Request"
				message="tns:lipopt95" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt95Response"
				message="tns:lipopt95Response" />
		</operation>
		<operation name="lipopt96">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt96Request"
				message="tns:lipopt96" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt96Response"
				message="tns:lipopt96Response" />
		</operation>
		<operation name="lipopt97">
			<input
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt97Request"
				message="tns:lipopt97" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/DocumentAdaptor/DocumentAdaptor/lipopt97Response"
				message="tns:lipopt97Response" />
		</operation>
	</portType>
	<binding name="DocumentAdaptorPortBinding"
		type="tns:DocumentAdaptor">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="lipopt22">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt23">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt24">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt14">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt37">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt43">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt45">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt46">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt49">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt70">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt71">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt72">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt75">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt78">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt78PINSpecific">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt79">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt91">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt92">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt93">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt94">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt95">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt96">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt97">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="DocumentAdaptor">
		<port name="DocumentAdaptorPort"
			binding="tns:DocumentAdaptorPortBinding">
			<soap:address
				location="http://msspolptvlut01:7901/elrsa2a/DocumentAdaptor" />
		</port>
	</service>
</definitions>