wsdl/RegistrationAdaptor.wsdl


<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.teranet.ca/elrs/RegistrationAdaptor"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://www.teranet.ca/elrs/RegistrationAdaptor"
	name="RegistrationAdaptor">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://www.teranet.ca/elrs/RegistrationAdaptor"
				schemaLocation="RegistrationAdaptor_metadata1.xsd" />
		</xsd:schema>
	</types>
	<message name="lipopt27">
		<part name="parameters" element="tns:lipopt27" />
	</message>
	<message name="lipopt27Response">
		<part name="parameters" element="tns:lipopt27Response" />
	</message>
	<message name="lipopt34">
		<part name="parameters" element="tns:lipopt34" />
	</message>
	<message name="lipopt34Response">
		<part name="parameters" element="tns:lipopt34Response" />
	</message>
	<message name="lipopt38">
		<part name="parameters" element="tns:lipopt38" />
	</message>
	<message name="lipopt38Response">
		<part name="parameters" element="tns:lipopt38Response" />
	</message>
	<message name="lipopt98">
		<part name="parameters" element="tns:lipopt98" />
	</message>
	<message name="lipopt98Response">
		<part name="parameters" element="tns:lipopt98Response" />
	</message>
	<message name="lipopt25">
		<part name="parameters" element="tns:lipopt25" />
	</message>
	<message name="lipopt25Response">
		<part name="parameters" element="tns:lipopt25Response" />
	</message>
	<portType name="RegistrationAdaptor">
		<operation name="lipopt27">
			<input
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt27Request"
				message="tns:lipopt27" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt27Response"
				message="tns:lipopt27Response" />
		</operation>
		<operation name="lipopt34">
			<input
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt34Request"
				message="tns:lipopt34" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt34Response"
				message="tns:lipopt34Response" />
		</operation>
		<operation name="lipopt38">
			<input
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt38Request"
				message="tns:lipopt38" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt38Response"
				message="tns:lipopt38Response" />
		</operation>
		<operation name="lipopt98">
			<input
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt98Request"
				message="tns:lipopt98" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt98Response"
				message="tns:lipopt98Response" />
		</operation>
		<operation name="lipopt25">
			<input
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt25Request"
				message="tns:lipopt25" />
			<output
				wsam:Action="http://www.teranet.ca/elrs/RegistrationAdaptor/RegistrationAdaptor/lipopt25Response"
				message="tns:lipopt25Response" />
		</operation>
	</portType>
	<binding name="RegistrationAdaptorPortBinding"
		type="tns:RegistrationAdaptor">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="lipopt27">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt34">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt38">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt98">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="lipopt25">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="RegistrationAdaptor">
		<port name="RegistrationAdaptorPort"
			binding="tns:RegistrationAdaptorPortBinding">
			<soap:address
				location="http://msscseptvldv01:7903/elrsa2a/RegistrationAdaptor" />
		</port>
	</service>
</definitions>