wsdl/RegistrationAdaptor_metadata1.xsd

<xsd:schema
	xmlns:ns0="http://www.teranet.ca/elrs/RegistrationAdaptor"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.teranet.ca/elrs/RegistrationAdaptor">
	<xsd:complexType name="lipopt25">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request25"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt25Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response25"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt27">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request27"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt27Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response27"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt34">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request34"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt34Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response34"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt38">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request38"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt38Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response38"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt98">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request98"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt98Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response98"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request25">
		<xsd:complexContent>
			<xsd:extension
				base="ns0:abstractRequestByPinFreezeUnfreeze">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType
		name="abstractRequestByPinFreezeUnfreeze" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="CFreezeInd" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="ICount" type="xsd:short" />
					<xsd:element name="ppinlist"
						type="ns0:pinFreezeUnfreeze" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="szFolderId" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request" abstract="true">
		<xsd:sequence>
			<xsd:element name="ILRO" type="xsd:short" />
			<xsd:element name="clientAppId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="credential" type="xsd:boolean" />
			<xsd:element name="lipoptNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="tokenId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="versionNumber" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pinFreezeUnfreeze">
		<xsd:sequence>
			<xsd:element name="CCertified" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="ILRO" type="xsd:short" />
			<xsd:element name="szInstId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szPinEnd" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szPinStart" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response25">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="szBadPinList" type="xsd:string"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response">
		<xsd:sequence>
			<xsd:element name="messages" type="ns0:returnMessage"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="success" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="returnMessage">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:short" minOccurs="0" />
			<xsd:element name="message" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request27">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="CRecoveryInd" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="IInTokenSize" type="xsd:short" />
					<xsd:element name="IPartyFromCount" type="xsd:short" />
					<xsd:element name="IPartyToCount" type="xsd:short" />
					<xsd:element name="IRegCount" type="xsd:short" />
					<xsd:element name="IRegPinCount" type="xsd:short" />
					<xsd:element name="PPartyFromList" type="ns0:regParty"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="PPartyToList" type="ns0:regParty"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="PPinList" type="ns0:regProperty"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="PRegDetail" type="ns0:regDetail"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="inToken" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="piRegReturnCount" type="xsd:short" />
					<xsd:element name="ppRegistrationNo"
						type="ns0:instrumentId" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="requestVO"
						type="ns0:paperSubmissionRequestVO" minOccurs="0" />
					<xsd:element name="resubmissionInd" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szFolderId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegEndTime" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegStartTime" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="version" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="regParty">
		<xsd:sequence>
			<xsd:element name="partyList"
				type="ns0:ownerInfoBirthday" minOccurs="0" />
			<xsd:element name="subToSpousalInd" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szInstId" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ownerInfoBirthday">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractOwnerInfoBirthday">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="abstractOwnerInfoBirthday">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractOwnerInfo">
				<xsd:sequence>
					<xsd:element name="szBirthday" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="abstractOwnerInfo"
		abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseCapacityVO">
				<xsd:sequence>
					<xsd:element name="szCapacity" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szOwnerName" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szShare" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="baseCapacityVO" abstract="true">
		<xsd:sequence>
			<xsd:element name="capacityAbbreviationLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="capacityCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="capacityDescriptionLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="capacityFrenchInd" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="regProperty">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseUnitTypeVO">
				<xsd:sequence>
					<xsd:element name="pinDesc" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szCityTown" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szEasementOnlyInd" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szInstId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szPin" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szReasonForDescChange"
						type="xsd:string" minOccurs="0" />
					<xsd:element name="szStreetName" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szStreetNo" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szStreetSuffix" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szUnitNo" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szUnitType" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="baseUnitTypeVO" abstract="true">
		<xsd:sequence>
			<xsd:element name="unitTypeAbbreviationLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="unitTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="unitTypeDescriptionLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="unitTypeFrenchInd" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="regDetail">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseDocumentTypeVO">
				<xsd:sequence>
					<xsd:element name="CFormType" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="CLT" type="xsd:string" minOccurs="0" />
					<xsd:element name="CLTTaxCode" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="CNonRes" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="CTypeDischarge" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="IIndAssCharge" type="xsd:short" />
					<xsd:element name="IIndLastAssigned" type="xsd:short" />
					<xsd:element name="ILRO" type="xsd:short" />
					<xsd:element name="IRegPartyFromCount" type="xsd:short" />
					<xsd:element name="IRegPartyToCount" type="xsd:short" />
					<xsd:element name="IRegPinCount" type="xsd:short" />
					<xsd:element name="additionalAttributes"
						type="xsd:string" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="multipleRefRegDetList"
						type="ns0:refRegDetail" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="planActConsInd" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="planActStatInd" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="sequenceNo" type="xsd:int" />
					<xsd:element name="subToSpousalInd" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="subToSpousalName" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szAmount" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szArea" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szAssCharge" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szInstId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szLastAssigned" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRetailAmount" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szType" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="writIndicator" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="writsList" type="ns0:writInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="baseDocumentTypeVO"
		abstract="true">
		<xsd:sequence>
			<xsd:element name="docTypeAbbreviationLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="docTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="docTypeDescriptionLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="docTypeFrenchInd" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="refRegDetail">
		<xsd:sequence>
			<xsd:element name="relatedDocInd" type="xsd:int" />
			<xsd:element name="relatedDocument" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="writInfo">
		<xsd:sequence>
			<xsd:element name="debtorName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="writNo" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="instrumentId">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseDocumentTypeVO">
				<xsd:sequence>
					<xsd:element name="szDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szInstType" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szTime" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="paperSubmissionRequestVO">
		<xsd:sequence>
			<xsd:element name="emailAddress" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="feeBillingId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="feePreAuthAmount" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="firmName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="fullName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="lttBillingId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="lttPreAuthAmount" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="paperSubmissions"
				type="ns0:paperSubmissionVO" minOccurs="0" maxOccurs="unbounded"
				nillable="true" />
			<xsd:element name="phoneNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="zeroFeeBillingId" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="paperSubmissionVO">
		<xsd:sequence>
			<xsd:element name="additionalInfo" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="amountValue" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="confirmNotRequired" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="docLanguage" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="docTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="feesValue" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="imgsId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="lastActiveRegistration"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="lttValue" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="ordering" type="xsd:int" />
			<xsd:element name="propertyType" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response27">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piRegReturnCount" type="xsd:short" />
					<xsd:element name="ppRegistrationNo"
						type="ns0:instrumentId" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="requestNumber" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szInstFailure" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request34">
		<xsd:complexContent>
			<xsd:extension
				base="ns0:abstractRequestByPinFreezeUnfreeze">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response34">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request38">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="szFirstRegNo" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szFolderId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szLastRegNo" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response38">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piReservedNum" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request98">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="requestVO"
						type="ns0:paperSubmissionRequestVO" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response98">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="requestNumber" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="lipopt25" type="ns0:lipopt25" />
	<xsd:element name="lipopt25Response"
		type="ns0:lipopt25Response" />
	<xsd:element name="lipopt27" type="ns0:lipopt27" />
	<xsd:element name="lipopt27Response"
		type="ns0:lipopt27Response" />
	<xsd:element name="lipopt34" type="ns0:lipopt34" />
	<xsd:element name="lipopt34Response"
		type="ns0:lipopt34Response" />
	<xsd:element name="lipopt38" type="ns0:lipopt38" />
	<xsd:element name="lipopt38Response"
		type="ns0:lipopt38Response" />
	<xsd:element name="lipopt98" type="ns0:lipopt98" />
	<xsd:element name="lipopt98Response"
		type="ns0:lipopt98Response" />
</xsd:schema>