wsdl/RegisterAdaptor_metadata1.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:ns0="http://www.teranet.ca/elrs/RegisterAdaptor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.teranet.ca/elrs/RegisterAdaptor">
  <xsd:complexType name="request39">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element name="ICount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PPinList" nillable="true" type="ns0:pinOwnReqInd"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt77Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response77"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt10">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request10"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="abstractResponsePinList">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element name="piFound" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppFoundItems" nillable="true" type="ns0:propListItem"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="propListItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CActive" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="CLT" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="address" type="ns0:addr"></xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="desc" nillable="true" type="ns0:remarkLine"></xsd:element>
      <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="szRegNo" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response61">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPinCertList" nillable="true" type="ns0:pinCertUncert"></xsd:element>
          <xsd:element minOccurs="0" name="szPinFailure" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt15Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response15"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pinCertUncert">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CCertified" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="indexInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="indexType" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="status" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="abstractResponseNames">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element name="piFound" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppFoundNames" nillable="true" type="ns0:name"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt20">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request20"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="remarkLine">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="remarkLine" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response44">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piDescCount" type="xsd:short"></xsd:element>
          <xsd:element name="piFound" type="xsd:short"></xsd:element>
          <xsd:element name="piPinCount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPinDesc" nillable="true" type="ns0:propDesc"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPropInfoList" nillable="true" type="ns0:propInfo"></xsd:element>
          <xsd:element minOccurs="0" name="szPinFailed" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szRegNumber" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="returnMessage">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="xsd:short"></xsd:element>
      <xsd:element minOccurs="0" name="message" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt19">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request19"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt11">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request11"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request20">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByPin">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt13">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request13"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="baseUnitTypeVO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="unitTypeAbbreviationLocalized" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="unitTypeCode" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="unitTypeDescriptionLocalized" type="xsd:string"></xsd:element>
      <xsd:element name="unitTypeFrenchInd" type="xsd:boolean"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt15">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request15"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt16">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request16"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt11Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response11"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt17">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request17"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt18">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request18"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="noteLine">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="noteLine" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pinOwnReqInd">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="COwnReqInd" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt77">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request77"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt16Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response16"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response77">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PListItems" nillable="true" type="ns0:propListItem"></xsd:element>
          <xsd:element minOccurs="0" name="estateAbbreviationLocalized" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="estateCode" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="estateDescriptionLocalized" type="xsd:string"></xsd:element>
          <xsd:element name="estateQualifierFrenchInd" type="xsd:boolean"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="noteLines" nillable="true" type="ns0:noteLine"></xsd:element>
          <xsd:element minOccurs="0" name="pcLT" type="xsd:string"></xsd:element>
          <xsd:element name="piDescCount" type="xsd:short"></xsd:element>
          <xsd:element name="piNotesCount" type="xsd:short"></xsd:element>
          <xsd:element name="piOwnerCount" type="xsd:short"></xsd:element>
          <xsd:element name="piOwnerFound" type="xsd:short"></xsd:element>
          <xsd:element name="piPinListCount" type="xsd:short"></xsd:element>
          <xsd:element name="piPinListFound" type="xsd:short"></xsd:element>
          <xsd:element name="piRemarkLinesCount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="pinList" nillable="true" type="ns0:pinArray"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppDescLines" nillable="true" type="ns0:remarkLine"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppOwners" nillable="true" type="ns0:ownerInfo"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppRemarkLines" nillable="true" type="ns0:remarkLine"></xsd:element>
          <xsd:element minOccurs="0" name="qualifierAbbreviationLocalized" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="qualifierCode" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="qualifierDescriptionLocalized" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szAddDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szBlockImpDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szBook" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szEstate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szOrigin" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szParentPIN" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szQualifier" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szTime" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt11B">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request11B"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response83">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element name="piFound" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPinList" nillable="true" type="ns0:pinArray"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt83">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request83"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="propDesc">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="propDesc" type="ns0:remarkLine"></xsd:element>
      <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt82">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request82"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt81">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request81"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt80">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request80"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="abstractOwnerInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseCapacityVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szCapacity" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szOwnerName" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szShare" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response80">
    <xsd:complexContent>
      <xsd:extension base="ns0:searchIndexResponse">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response81">
    <xsd:complexContent>
      <xsd:extension base="ns0:searchIndexResponse">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response82">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element name="piFound" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPinList" nillable="true" type="ns0:pinInfoRegDetail"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt39Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response39"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt10Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response10"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt74Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response74"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="propInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseEstateQualifierVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CFrozenInd" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="CLT" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="CNoDealings" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="CStatus" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="pinAddress" type="ns0:address"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="shortDesc" nillable="true" type="ns0:remarkLine"></xsd:element>
          <xsd:element minOccurs="0" name="szAssmtNo" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szConvDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szEstate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szOrigin" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szQualifier" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="abstractRequest11">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByRegNo">
        <xsd:sequence>
          <xsd:element name="IMax" type="xsd:short"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ownerInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractOwnerInfo">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response74">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element name="piFound" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="pinList" nillable="true" type="ns0:pinArray"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response73">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piDescCount" type="xsd:short"></xsd:element>
          <xsd:element name="piPinCount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPropDesc" nillable="true" type="ns0:propDesc"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPropInfoList" nillable="true" type="ns0:propInfo"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt74">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request74"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt73">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request73"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pinInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CNoDealingInd" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="CStatus" type="xsd:string"></xsd:element>
      <xsd:element name="IOwners" type="xsd:short"></xsd:element>
      <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="abstractRequestByRegNo">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szRegNo" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request42">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByPin">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt61Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response61"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request44">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequest11">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response10">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractResponseNames">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response11">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractResponsePinList">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response13">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractResponsePinList">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response15">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PListItems" nillable="true" type="ns0:propListItem"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt19Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response19"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response16">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="pcLT" type="xsd:string"></xsd:element>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppDescLines" nillable="true" type="ns0:remarkLine"></xsd:element>
          <xsd:element minOccurs="0" name="szAddDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szBlockImpDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szBook" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szEstate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szOrigin" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szParentPIN" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szQualifier" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szTime" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response17">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element name="piFound" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppOwners" nillable="true" type="ns0:ownerInfo"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="pinOwnerInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractOwnerInfoBirthday">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt81Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response81"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response18">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractResponsePinList">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="baseEstateQualifierVO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="estateAbbreviationLocalized" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="estateCode" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="estateDescriptionLocalized" type="xsd:string"></xsd:element>
      <xsd:element name="estateQualifierFrenchInd" type="xsd:boolean"></xsd:element>
      <xsd:element minOccurs="0" name="qualifierAbbreviationLocalized" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="qualifierCode" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="qualifierDescriptionLocalized" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="abstractRequestByName">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element name="IMax" type="xsd:short"></xsd:element>
          <xsd:element minOccurs="0" name="PPartialName" type="ns0:name"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response19">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppRemarkLines" nillable="true" type="ns0:remarkLine"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="addr">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseUnitTypeVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szArea" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szStreetName" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szStreetNo" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szStreetSuffix" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szUnitNo" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szUnitType" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt82Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response82"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt83Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response83"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request77">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByPin">
        <xsd:sequence>
          <xsd:element name="IOwnerMax" type="xsd:short"></xsd:element>
          <xsd:element name="IPinMax" type="xsd:short"></xsd:element>
          <xsd:element name="generateFrenchQualifierNotes" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request74">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByPin">
        <xsd:sequence>
          <xsd:element name="IMax" type="xsd:short"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt44">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request44"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request73">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szPINEnd" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szPINStart" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="abstractRequestByPin">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szPIN" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="request">
    <xsd:sequence>
      <xsd:element name="ILRO" type="xsd:short"></xsd:element>
      <xsd:element minOccurs="0" name="clientAppId" type="xsd:string"></xsd:element>
      <xsd:element name="credential" type="xsd:boolean"></xsd:element>
      <xsd:element minOccurs="0" name="lipoptNumber" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="tokenId" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="versionNumber" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt18Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response18"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response20">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="noteLines" nillable="true" type="ns0:noteLine"></xsd:element>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="baseCapacityVO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="capacityAbbreviationLocalized" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="capacityCode" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="capacityDescriptionLocalized" type="xsd:string"></xsd:element>
      <xsd:element name="capacityFrenchInd" type="xsd:boolean"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt61">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request61"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt44Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response44"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt17Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response17"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request61">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element name="ICount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PPinList" nillable="true" type="ns0:pinArray"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt73Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response73"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response39">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element name="piOwnerCount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppOwnerList" nillable="true" type="ns0:pinOwnerInfo"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPinOutList" nillable="true" type="ns0:pinInfo"></xsd:element>
          <xsd:element minOccurs="0" name="szPinFailure" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request10">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByName">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="abstractOwnerInfoBirthday">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractOwnerInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szBirthday" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request11">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequest11">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt80Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response80"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="messages" nillable="true" type="ns0:returnMessage"></xsd:element>
      <xsd:element name="success" type="xsd:boolean"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pinInfoRegDetail">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseDocumentTypeVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szCreationDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szDocType" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szLro" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szRegNo" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szRetiredDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szStatus" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="name">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CMany" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="szFirstName" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="szLastName" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request13">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element name="IMax" type="xsd:short"></xsd:element>
          <xsd:element minOccurs="0" name="PPartialAddr" type="ns0:addr"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="pinArray">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="szPin" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request15">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByPin">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response42">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PPropertyInfo" nillable="true" type="ns0:propInfo"></xsd:element>
          <xsd:element name="piDescCount" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ppPropDesc" nillable="true" type="ns0:remarkLine"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request17">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByPin">
        <xsd:sequence>
          <xsd:element name="IMax" type="xsd:short"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request16">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByPin">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request19">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequestByPin">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request18">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element name="IMax" type="xsd:short"></xsd:element>
          <xsd:element minOccurs="0" name="PFullName" type="ns0:name"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt20Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response20"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lipopt13Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response13"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="blockArray">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="szBlock" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchIndexResponse">
    <xsd:complexContent>
      <xsd:extension base="ns0:response">
        <xsd:sequence>
          <xsd:element name="numberOfPages" type="xsd:int"></xsd:element>
          <xsd:element name="piCount" type="xsd:short"></xsd:element>
          <xsd:element name="piFound" type="xsd:short"></xsd:element>
          <xsd:element minOccurs="0" name="report" type="xsd:base64Binary"></xsd:element>
          <xsd:element name="restrictedRegisterLRI" type="xsd:boolean"></xsd:element>
          <xsd:element name="restrictedRegisterNDI" type="xsd:boolean"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="searchIndexResults" nillable="true" type="ns0:searchIndexResultVO"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt42">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request42"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchIndexResultVO">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseDocumentTypeVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="docStatus" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="documentType" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="hwyNumPart1" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="hwyNumPart2" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="hwyPlanNumPart1" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="hwyPlanNumPart2" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="municipality" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="otherPINsIndices" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="registrationDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="registrationNumber" type="xsd:string"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="remarks" nillable="true" type="ns0:remarkLine"></xsd:element>
          <xsd:element minOccurs="0" name="surveyNumber" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt11BResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response11B"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request81">
    <xsd:complexContent>
      <xsd:extension base="ns0:searchIndexRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="lowerTierMunicipality" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="searchBy" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request11B">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractRequest11">
        <xsd:sequence></xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request82">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element name="IMax" type="xsd:short"></xsd:element>
          <xsd:element minOccurs="0" name="szFromDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="szToDate" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="baseDocumentTypeVO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="docTypeAbbreviationLocalized" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="docTypeCode" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="docTypeDescriptionLocalized" type="xsd:string"></xsd:element>
      <xsd:element name="docTypeFrenchInd" type="xsd:boolean"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="request83">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element name="IMax" type="xsd:short"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PBlockList" nillable="true" type="ns0:blockArray"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt39">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:request39"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="address">
    <xsd:complexContent>
      <xsd:extension base="ns0:addr">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="szTownship" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="lipopt42Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:response42"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="response11B">
    <xsd:complexContent>
      <xsd:extension base="ns0:abstractResponsePinList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="indexInfoList" nillable="true" type="ns0:indexInfo"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="searchIndexRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="IMax" type="xsd:short"></xsd:element>
          <xsd:element name="blankLine" type="xsd:int"></xsd:element>
          <xsd:element name="deletedDocsIncluded" type="xsd:boolean"></xsd:element>
          <xsd:element minOccurs="0" name="endDate" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="reportLanguage" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="requestedBy" type="xsd:string"></xsd:element>
          <xsd:element name="searchViewRequested" type="xsd:boolean"></xsd:element>
          <xsd:element minOccurs="0" name="sortBy" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="startDate" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="request80">
    <xsd:complexContent>
      <xsd:extension base="ns0:searchIndexRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="hwyNumPart1" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="hwyNumPart2" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="hwyPlanNumPart1" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="hwyPlanNumPart2" type="xsd:string"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="lowerTierMunicipalities" nillable="true" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="registrationNumber" type="xsd:string"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="searchByOptions" nillable="true" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="lipopt77Response" type="ns0:lipopt77Response"></xsd:element>
  <xsd:element name="lipopt10" type="ns0:lipopt10"></xsd:element>
  <xsd:element name="lipopt19Response" type="ns0:lipopt19Response"></xsd:element>
  <xsd:element name="lipopt81Response" type="ns0:lipopt81Response"></xsd:element>
  <xsd:element name="lipopt77" type="ns0:lipopt77"></xsd:element>
  <xsd:element name="lipopt16Response" type="ns0:lipopt16Response"></xsd:element>
  <xsd:element name="lipopt80Response" type="ns0:lipopt80Response"></xsd:element>
  <xsd:element name="lipopt82Response" type="ns0:lipopt82Response"></xsd:element>
  <xsd:element name="lipopt11B" type="ns0:lipopt11B"></xsd:element>
  <xsd:element name="lipopt83Response" type="ns0:lipopt83Response"></xsd:element>
  <xsd:element name="lipopt83" type="ns0:lipopt83"></xsd:element>
  <xsd:element name="lipopt82" type="ns0:lipopt82"></xsd:element>
  <xsd:element name="lipopt81" type="ns0:lipopt81"></xsd:element>
  <xsd:element name="lipopt80" type="ns0:lipopt80"></xsd:element>
  <xsd:element name="lipopt44" type="ns0:lipopt44"></xsd:element>
  <xsd:element name="lipopt18Response" type="ns0:lipopt18Response"></xsd:element>
  <xsd:element name="lipopt39Response" type="ns0:lipopt39Response"></xsd:element>
  <xsd:element name="lipopt10Response" type="ns0:lipopt10Response"></xsd:element>
  <xsd:element name="lipopt15Response" type="ns0:lipopt15Response"></xsd:element>
  <xsd:element name="lipopt74Response" type="ns0:lipopt74Response"></xsd:element>
  <xsd:element name="lipopt20Response" type="ns0:lipopt20Response"></xsd:element>
  <xsd:element name="lipopt13Response" type="ns0:lipopt13Response"></xsd:element>
  <xsd:element name="lipopt20" type="ns0:lipopt20"></xsd:element>
  <xsd:element name="lipopt42" type="ns0:lipopt42"></xsd:element>
  <xsd:element name="lipopt61" type="ns0:lipopt61"></xsd:element>
  <xsd:element name="lipopt11BResponse" type="ns0:lipopt11BResponse"></xsd:element>
  <xsd:element name="lipopt19" type="ns0:lipopt19"></xsd:element>
  <xsd:element name="lipopt44Response" type="ns0:lipopt44Response"></xsd:element>
  <xsd:element name="lipopt39" type="ns0:lipopt39"></xsd:element>
  <xsd:element name="lipopt74" type="ns0:lipopt74"></xsd:element>
  <xsd:element name="lipopt73" type="ns0:lipopt73"></xsd:element>
  <xsd:element name="lipopt17Response" type="ns0:lipopt17Response"></xsd:element>
  <xsd:element name="lipopt42Response" type="ns0:lipopt42Response"></xsd:element>
  <xsd:element name="lipopt11" type="ns0:lipopt11"></xsd:element>
  <xsd:element name="lipopt13" type="ns0:lipopt13"></xsd:element>
  <xsd:element name="lipopt73Response" type="ns0:lipopt73Response"></xsd:element>
  <xsd:element name="lipopt15" type="ns0:lipopt15"></xsd:element>
  <xsd:element name="lipopt61Response" type="ns0:lipopt61Response"></xsd:element>
  <xsd:element name="lipopt16" type="ns0:lipopt16"></xsd:element>
  <xsd:element name="lipopt11Response" type="ns0:lipopt11Response"></xsd:element>
  <xsd:element name="lipopt17" type="ns0:lipopt17"></xsd:element>
  <xsd:element name="lipopt18" type="ns0:lipopt18"></xsd:element>
</xsd:schema>