setup/wsdl/DocumentAdaptor_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema
	xmlns:ns0="http://www.teranet.ca/elrs/DocumentAdaptor"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.teranet.ca/elrs/DocumentAdaptor">
	<xsd:complexType name="lipopt14">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request14"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt14Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response14"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt22">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request22"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt22Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response22"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt23">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request23"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt23Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response23"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt24">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request24"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt24Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response24"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt37">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request37"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt37Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response37"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt43">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request43"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt43Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response43"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt45">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request45"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt45Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response45"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt46">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request46"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt46Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response46"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt49">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request49"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt49Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response49"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt70">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request70"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt70Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response70"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt71">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request71"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt71Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response71"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt72">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request72"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt72Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response72"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt75">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request75"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt75Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response75"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt78">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request78"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt78PINSpecific">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:pinSpecificRequest78"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt78PINSpecificResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response78"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt78Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response78"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt79">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request79"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt79Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response79"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt91">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request91"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt91Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response91"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt92">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request92"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt92Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response92"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt93">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request93"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt93Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response93"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt94">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request94"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt94Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response94"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt95">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request95"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt95Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response95"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt96">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request96"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt96Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response96"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt97">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:request97"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lipopt97Response">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:response97"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request14">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="CDelete" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="IMax" type="xsd:short" />
					<xsd:element name="szFromDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szPIN" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szToDate" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request" abstract="true">
		<xsd:sequence>
			<xsd:element name="ILRO" type="xsd:short" />
			<xsd:element name="clientAppId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="credential" type="xsd:boolean" />
			<xsd:element name="lipoptNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="tokenId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="versionNumber" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response14">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piCount" type="xsd:short" />
					<xsd:element name="piFound" type="xsd:short" />
					<xsd:element name="ppInstList" type="ns0:instDetails"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response">
		<xsd:sequence>
			<xsd:element name="messages" type="ns0:returnMessage"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="success" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="returnMessage">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:short" minOccurs="0" />
			<xsd:element name="message" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="instDetails">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseDocumentTypeVO">
				<xsd:sequence>
					<xsd:element name="CIndicator" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szAmount" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szType" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="baseDocumentTypeVO"
		abstract="true">
		<xsd:sequence>
			<xsd:element name="docTypeAbbreviationLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="docTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="docTypeDescriptionLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="docTypeFrenchInd" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request22">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="IPartiesFromMax" type="xsd:short" />
					<xsd:element name="IPartiesToMax" type="xsd:short" />
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response22">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="PDetails" type="ns0:instDetails"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="piCorrectionCount" type="xsd:short" />
					<xsd:element name="piPartiesFromCount" type="xsd:short" />
					<xsd:element name="piPartiesFromFound" type="xsd:short" />
					<xsd:element name="piPartiesToCount" type="xsd:short" />
					<xsd:element name="piPartiesToFound" type="xsd:short" />
					<xsd:element name="piRemarksCount" type="xsd:short" />
					<xsd:element name="ppCorrectionLines"
						type="ns0:remarkLine" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="ppPartiesFrom" type="ns0:ownerInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="ppPartiesTo" type="ns0:ownerInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="ppRemarkLines" type="ns0:remarkLine"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="remarkLine">
		<xsd:sequence>
			<xsd:element name="remarkLine" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ownerInfo">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractOwnerInfo">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="abstractOwnerInfo"
		abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseCapacityVO">
				<xsd:sequence>
					<xsd:element name="szCapacity" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szOwnerName" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szShare" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="baseCapacityVO" abstract="true">
		<xsd:sequence>
			<xsd:element name="capacityAbbreviationLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="capacityCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="capacityDescriptionLocalized"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="capacityFrenchInd" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request23">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractRequestByName">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="abstractRequestByName"
		abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="IMax" type="xsd:short" />
					<xsd:element name="PPartialName" type="ns0:name"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="name">
		<xsd:sequence>
			<xsd:element name="CMany" type="xsd:string" minOccurs="0" />
			<xsd:element name="szFirstName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szLastName" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response23">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractResponseNames">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="abstractResponseNames"
		abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piCount" type="xsd:short" />
					<xsd:element name="piFound" type="xsd:short" />
					<xsd:element name="ppFoundNames" type="ns0:name"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request24">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractRequestByRegNo">
				<xsd:sequence>
					<xsd:element name="CNameInstSearchInd"
						type="xsd:string" minOccurs="0" />
					<xsd:element name="IMax" type="xsd:short" />
					<xsd:element name="PPartialName" type="ns0:name"
						minOccurs="0" />
					<xsd:element name="reportLanguage" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="reportRequired" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="requestedBy" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="abstractRequestByRegNo"
		abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response24">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piCount" type="xsd:short" />
					<xsd:element name="piFound" type="xsd:short" />
					<xsd:element name="piPartyToCount" type="xsd:short" />
					<xsd:element name="ppInstList" type="ns0:instNameInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="ppPartyToList"
						type="ns0:partyToName" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="report" type="xsd:base64Binary"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="instNameInfo">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseDocumentTypeVO">
				<xsd:sequence>
					<xsd:element name="CInstStatus" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="IPartiesT" type="xsd:short" />
					<xsd:element name="shortRemark" type="ns0:remarkLine"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="szInstType" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szInstrumentId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szPartyFrom" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="partyToName">
		<xsd:sequence>
			<xsd:element name="szPartyToName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szRegNo" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request37">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="IMax" type="xsd:short" />
					<xsd:element name="szDate" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response37">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piFound" type="xsd:short" />
					<xsd:element name="piRegCount" type="xsd:short" />
					<xsd:element name="ppInstrumentList"
						type="ns0:rrInstrumentId" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="rrInstrumentId">
		<xsd:sequence>
			<xsd:element name="ILRO" type="xsd:short" />
			<xsd:element name="szDate" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szInstId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szRegNo" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szTime" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request43">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractRequestByRegNo">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response43">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="PInstInfo" type="ns0:instInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="instInfo">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseDocumentTypeVO">
				<xsd:sequence>
					<xsd:element name="CLT" type="xsd:string" minOccurs="0" />
					<xsd:element name="CStatus" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szCertDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szInstType" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szInstrumentId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szLTAmount" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegNumber" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request45">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractRequestByRegNo">
				<xsd:sequence>
					<xsd:element name="IMax" type="xsd:short" />
					<xsd:element name="partyFromToIndicator"
						type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response45">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piFound" type="xsd:short" />
					<xsd:element name="piPartyCount" type="xsd:short" />
					<xsd:element name="ppPartyList" type="ns0:ownerInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="szRegNumber" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request46">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="CConveyance" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="ICount" type="xsd:short" />
					<xsd:element name="PPinList" type="ns0:pinArray"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pinArray">
		<xsd:sequence>
			<xsd:element name="szPin" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response46">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piCount" type="xsd:short" />
					<xsd:element name="ppPinOutList"
						type="ns0:lastConveyOrInst" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="szPinFailed" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lastConveyOrInst">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseDocumentTypeVO">
				<xsd:sequence>
					<xsd:element name="szPin" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szType" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request49">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="ICount" type="xsd:short" />
					<xsd:element name="PPinInstrumentCheck"
						type="ns0:pinFreezeUnfreezeNoRange" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
					<xsd:element name="extFolderId" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pinFreezeUnfreezeNoRange">
		<xsd:sequence>
			<xsd:element name="CCertified" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="ILRO" type="xsd:short" />
			<xsd:element name="szInstId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szPin" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response49">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piRegInstrumentCount"
						type="xsd:short" />
					<xsd:element name="ppRegistrationNo"
						type="ns0:instrumentId" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="requestNumber" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="instrumentId">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseDocumentTypeVO">
				<xsd:sequence>
					<xsd:element name="szDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szInstType" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="szTime" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request70">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractRequestByRegNo">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response70">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="PInstInfo" type="ns0:instInfo2"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="instInfo2">
		<xsd:complexContent>
			<xsd:extension base="ns0:instInfo">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request71">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractRequestByRegNo">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response71">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piCondoCount" type="xsd:short" />
					<xsd:element name="ppCondoList" type="ns0:condoInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="szRegNumber" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="condoInfo">
		<xsd:sequence>
			<xsd:element name="szLevel" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szPin" type="xsd:string" minOccurs="0" />
			<xsd:element name="szUnit" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request72">
		<xsd:complexContent>
			<xsd:extension base="ns0:abstractRequestByRegNo">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response72">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piSubdivisionCount" type="xsd:short" />
					<xsd:element name="ppSubdivisionList"
						type="ns0:subdivisionInfo" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="szRegNumber" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="subdivisionInfo">
		<xsd:sequence>
			<xsd:element name="szEntityName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szEntityNo" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="szPin" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request75">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response75">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request78">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="IInstCount" type="xsd:short" />
					<xsd:element name="IPartiesFromMax" type="xsd:short" />
					<xsd:element name="IPartiesToMax" type="xsd:short" />
					<xsd:element name="PRegNoList" type="ns0:regNoArray"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="regNoArray">
		<xsd:sequence>
			<xsd:element name="szRegNo" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pinSpecificRequest78">
		<xsd:complexContent>
			<xsd:extension base="ns0:request78">
				<xsd:sequence>
					<xsd:element name="PIN" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response78">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="ICount" type="xsd:short" />
					<xsd:element name="PInstrumentDetails"
						type="ns0:instrumentDetails" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="szRegNoFailed" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="instrumentDetails">
		<xsd:complexContent>
			<xsd:extension base="ns0:instDetails">
				<xsd:sequence>
					<xsd:element name="piCorrectionCount" type="xsd:short" />
					<xsd:element name="piPartiesFromCount" type="xsd:short" />
					<xsd:element name="piPartiesFromFound" type="xsd:short" />
					<xsd:element name="piPartiesToCount" type="xsd:short" />
					<xsd:element name="piPartiesToFound" type="xsd:short" />
					<xsd:element name="piRemarksCount" type="xsd:short" />
					<xsd:element name="ppCorrectionLines"
						type="ns0:remarkLine" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
					<xsd:element name="ppPartiesFrom" type="ns0:ownerInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="ppPartiesTo" type="ns0:ownerInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="ppRemarkLines" type="ns0:remarkLine"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request79">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="iMax" type="xsd:short" />
					<xsd:element name="szRegNo" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response79">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piCount" type="xsd:short" />
					<xsd:element name="piFound" type="xsd:short" />
					<xsd:element name="ppInstList" type="ns0:instDetails"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request91">
		<xsd:complexContent>
			<xsd:extension base="ns0:searchDocumentIndexRequest">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="searchDocumentIndexRequest"
		abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="blockNumber" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="endDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="iMax" type="xsd:short" minOccurs="0" />
					<xsd:element name="reportLanguage" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="requestedBy" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="searchViewRequested"
						type="xsd:boolean" />
					<xsd:element name="startDate" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response91">
		<xsd:complexContent>
			<xsd:extension base="ns0:searchDocumentIndexResponse">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="searchDocumentIndexResponse">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="numberOfPages" type="xsd:int" />
					<xsd:element name="piCount" type="xsd:short" />
					<xsd:element name="piFound" type="xsd:short" />
					<xsd:element name="report" type="xsd:base64Binary"
						minOccurs="0" />
					<xsd:element name="searchIndexResults"
						type="ns0:searchDocumentIndexResultVO" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="searchDocumentIndexResultVO">
		<xsd:sequence>
			<xsd:element name="applicationRegistrationNumber"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="documentType" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="registrationDate" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="registrationNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="targetPINList"
				type="ns0:searchDocumentIndexResultPINVO" minOccurs="0"
				maxOccurs="unbounded" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchDocumentIndexResultPINVO">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="pinOrRegisterName" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request92">
		<xsd:complexContent>
			<xsd:extension base="ns0:searchDocumentIndexRequest">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response92">
		<xsd:complexContent>
			<xsd:extension base="ns0:searchDocumentIndexResponse">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="request93">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="endDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="maxRecordRequested"
						type="xsd:string" minOccurs="0" />
					<xsd:element name="requestId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="startDate" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response93">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="hasMore" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="numRecordFound" type="xsd:int" />
					<xsd:element name="numRecordSent" type="xsd:int" />
					<xsd:element name="requestId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="xmlString"
						type="ns0:documentRegistrationWrapper" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="documentRegistrationWrapper">
		<xsd:sequence>
			<xsd:element name="instrument"
				type="ns0:documentRegistration" minOccurs="0" maxOccurs="unbounded"
				nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="documentRegistration">
		<xsd:sequence>
			<xsd:element name="PIN" type="ns0:propDescExtended"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="condoDeclOrPlanNotActiveOnPin"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="condoDeclarationBeingAmended"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="condoDeclarationNotAutomated"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="condoLevel" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="condoPlanBeingAmended"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="condoPlanNotAutomated"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="considerationAmount" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="goodsAndChattel" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="instrumentTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="isPolarisOnly" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="levelCondoPlanAmalgamation"
				type="xsd:string" minOccurs="0" maxOccurs="unbounded"
				nillable="true" />
			<xsd:element name="lroNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="lttAmount" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="partyFrom" type="ns0:party"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="partyTo" type="ns0:party"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="planningActConscentIndicator"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="planningActStatmentIndicator"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="registrationDate" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="registrationNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="registrationTime" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="relDocForPlanCorrection"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="relDocNotAutomatedForPlanCorrection"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="relatedDocRegistrationNumber"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="relatedDocumentType" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="singleFamilyIndicator"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="streetSubdivisionPlan"
				type="ns0:planSubdivisionStreet" minOccurs="0" maxOccurs="unbounded"
				nillable="true" />
			<xsd:element name="totalFee" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="totalNoCondoPlanAmalgamationUnit"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="totalNumOfNewCondoUnit"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="totalNumOfUnitSubdivisionPlan"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="totalRst" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="unitSubdivisionPlan"
				type="ns0:planSubDivisionUnit" minOccurs="0" maxOccurs="unbounded"
				nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="propDescExtended">
		<xsd:sequence>
			<xsd:element name="affectsAllPlanExpropriation"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="easementOnlyPIN" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="highwayNumber" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="levelCondoPlanAmalgamation"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="municipalityAffectedByHighWay"
				type="xsd:string" minOccurs="0" maxOccurs="unbounded"
				nillable="true" />
			<xsd:element name="municipalityAffectedByTransCanada"
				type="xsd:string" minOccurs="0" maxOccurs="unbounded"
				nillable="true" />
			<xsd:element name="pPlanNumber" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="partListPlanExpropriation"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="pinNum" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="pinRemark" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="propDescription" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="reasonForChange" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="remarksHighWay" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="remarksTransCanada" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="streetName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="streetNo" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="streetSuffix" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="surveyNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="township" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="unitNo" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="unitType" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="party">
		<xsd:sequence>
			<xsd:element name="capacity" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="ownerName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="share" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="planSubdivisionStreet">
		<xsd:sequence>
			<xsd:element name="qualifyingDescription"
				type="xsd:string" minOccurs="0" />
			<xsd:element name="streetName" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="planSubDivisionUnit">
		<xsd:sequence>
			<xsd:element name="endRange" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="qualifyingName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="startRange" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="unitType" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request94">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="document"
						type="ns0:documentIdentifier" minOccurs="0" maxOccurs="unbounded"
						nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="documentIdentifier">
		<xsd:sequence>
			<xsd:element name="instrumentTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="lroNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="registrationNumber" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response94">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="numRecordSent" type="xsd:int" />
					<xsd:element name="xmlString"
						type="ns0:documentIdentifierWrapper" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="documentIdentifierWrapper">
		<xsd:sequence>
			<xsd:element name="document"
				type="ns0:documentIdentifier" minOccurs="0" maxOccurs="unbounded"
				nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request95">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="IMax" type="xsd:short" />
					<xsd:element name="PPartialName" type="ns0:name"
						minOccurs="0" />
					<xsd:element name="endDate" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="registrationNumber"
						type="xsd:string" minOccurs="0" />
					<xsd:element name="searchBy" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="sortBy" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="startDate" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response95">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="piCount" type="xsd:short" />
					<xsd:element name="piFound" type="xsd:short" />
					<xsd:element name="ppInstList" type="ns0:instNameInfo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="searchTermsResults"
						type="ns0:searchStandardTermsResultVO" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="searchStandardTermsResultVO">
		<xsd:sequence>
			<xsd:element name="correctionNotice" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="partyFrom" type="xsd:anyType"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="partyName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="registrationDate" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="registrationNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="totalPages" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request96">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="response96">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="docTypeInfos"
						type="ns0:paperSubmissionDocTypeInfo" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="paperSubmissionDocTypeInfo">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="docTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="frenchDescription" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="isLTTRequired" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="isTransferTypeDoc" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="validLandTitles" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="validRegistry" type="xsd:boolean"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="request97">
		<xsd:complexContent>
			<xsd:extension base="ns0:request">
				<xsd:sequence>
					<xsd:element name="paperInfoArray"
						type="ns0:paperSubmissionInfoVO" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="paperSubmissionInfoVO">
		<xsd:sequence>
			<xsd:element name="docTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="propertyType" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="sequenceId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="response97">
		<xsd:complexContent>
			<xsd:extension base="ns0:response">
				<xsd:sequence>
					<xsd:element name="paperInfoArray"
						type="ns0:paperSubmissionFeeVO" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="paperSubmissionFeeVO">
		<xsd:sequence>
			<xsd:element name="docTypeCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="feeValue" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="sequenceId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="lipopt14" type="ns0:lipopt14" />
	<xsd:element name="lipopt14Response"
		type="ns0:lipopt14Response" />
	<xsd:element name="lipopt22" type="ns0:lipopt22" />
	<xsd:element name="lipopt22Response"
		type="ns0:lipopt22Response" />
	<xsd:element name="lipopt23" type="ns0:lipopt23" />
	<xsd:element name="lipopt23Response"
		type="ns0:lipopt23Response" />
	<xsd:element name="lipopt24" type="ns0:lipopt24" />
	<xsd:element name="lipopt24Response"
		type="ns0:lipopt24Response" />
	<xsd:element name="lipopt37" type="ns0:lipopt37" />
	<xsd:element name="lipopt37Response"
		type="ns0:lipopt37Response" />
	<xsd:element name="lipopt43" type="ns0:lipopt43" />
	<xsd:element name="lipopt43Response"
		type="ns0:lipopt43Response" />
	<xsd:element name="lipopt45" type="ns0:lipopt45" />
	<xsd:element name="lipopt45Response"
		type="ns0:lipopt45Response" />
	<xsd:element name="lipopt46" type="ns0:lipopt46" />
	<xsd:element name="lipopt46Response"
		type="ns0:lipopt46Response" />
	<xsd:element name="lipopt49" type="ns0:lipopt49" />
	<xsd:element name="lipopt49Response"
		type="ns0:lipopt49Response" />
	<xsd:element name="lipopt70" type="ns0:lipopt70" />
	<xsd:element name="lipopt70Response"
		type="ns0:lipopt70Response" />
	<xsd:element name="lipopt71" type="ns0:lipopt71" />
	<xsd:element name="lipopt71Response"
		type="ns0:lipopt71Response" />
	<xsd:element name="lipopt72" type="ns0:lipopt72" />
	<xsd:element name="lipopt72Response"
		type="ns0:lipopt72Response" />
	<xsd:element name="lipopt75" type="ns0:lipopt75" />
	<xsd:element name="lipopt75Response"
		type="ns0:lipopt75Response" />
	<xsd:element name="lipopt78" type="ns0:lipopt78" />
	<xsd:element name="lipopt78PINSpecific"
		type="ns0:lipopt78PINSpecific" />
	<xsd:element name="lipopt78PINSpecificResponse"
		type="ns0:lipopt78PINSpecificResponse" />
	<xsd:element name="lipopt78Response"
		type="ns0:lipopt78Response" />
	<xsd:element name="lipopt79" type="ns0:lipopt79" />
	<xsd:element name="lipopt79Response"
		type="ns0:lipopt79Response" />
	<xsd:element name="lipopt91" type="ns0:lipopt91" />
	<xsd:element name="lipopt91Response"
		type="ns0:lipopt91Response" />
	<xsd:element name="lipopt92" type="ns0:lipopt92" />
	<xsd:element name="lipopt92Response"
		type="ns0:lipopt92Response" />
	<xsd:element name="lipopt93" type="ns0:lipopt93" />
	<xsd:element name="lipopt93Response"
		type="ns0:lipopt93Response" />
	<xsd:element name="lipopt94" type="ns0:lipopt94" />
	<xsd:element name="lipopt94Response"
		type="ns0:lipopt94Response" />
	<xsd:element name="lipopt95" type="ns0:lipopt95" />
	<xsd:element name="lipopt95Response"
		type="ns0:lipopt95Response" />
	<xsd:element name="lipopt96" type="ns0:lipopt96" />
	<xsd:element name="lipopt96Response"
		type="ns0:lipopt96Response" />
	<xsd:element name="lipopt97" type="ns0:lipopt97" />
	<xsd:element name="lipopt97Response"
		type="ns0:lipopt97Response" />
</xsd:schema>