setup/wsdl/PinPidService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="PinPidServiceDefinitions" targetNamespace="http://www.geowarehouse.ca/pinpidservice"
                     xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
                     xmlns:WL5G3N1="http://www.geowarehouse.ca/pinpidservice"
                     xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:ca.teranet.gwh.pinpidservice" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.geowarehouse.ca/pinpidservice" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.geowarehouse.ca/pinpidservice" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="PinPidServiceRequestVO">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Arn" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="15"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="FirstName" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="128"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="LastOrCompName" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="128"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element default="0" maxOccurs="1" minOccurs="0" name="Latitude" nillable="true" type="xs:double"/>
          <xs:element default="0" maxOccurs="1" minOccurs="0" name="Longitude" nillable="true" type="xs:double"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Lro" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="Municipality" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="3" minOccurs="0" name="OwnerName" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="128"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="PostalCode" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="6"/>
                <xs:pattern value="[A-Za-z]\d[A-Za-z]\d[A-Za-z]\d"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="Province" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="StreetDesignation" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="30"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="StreetDirection" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="StreetName" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="StreetNumber" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="8"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="UnitNumber" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PinPidServiceResponseVO">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="Request" nillable="false" type="java:PinPidServiceRequestVO" xmlns:java="java:ca.teranet.gwh.pinpidservice"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Response" nillable="false" type="java:PinPidServiceResponseBodyVO" xmlns:java="java:ca.teranet.gwh.pinpidservice"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PinPidServiceResponseBodyVO">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="ReturnCode" nillable="false" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="ReturnMessage" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="AdditionalInfo" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ReturnData" nillable="true" type="java:ReturnDataVO" xmlns:java="java:ca.teranet.gwh.pinpidservice"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReturnDataVO">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="Pin" nillable="false" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="PinType" nillable="false" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="MatchCode" nillable="false" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="SearchCriteriaUsed" nillable="false" type="java:PinPidServiceRequestVO" xmlns:java="java:ca.teranet.gwh.pinpidservice"/>
          <xs:element maxOccurs="1" minOccurs="1" name="AddressFound" nillable="false" type="java:AddressFoundVO" xmlns:java="java:ca.teranet.gwh.pinpidservice"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressFoundVO">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Municipality" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="PostalCode" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Province" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="StreetDesignation" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="StreetDirection" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="StreetName" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="StreetNumber" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="UnitNumber" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.geowarehouse.ca/pinpidservice" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.geowarehouse.ca/pinpidservice" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.geowarehouse.ca/pinpidservice" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:ca.teranet.gwh.pinpidservice"/>
      <xs:element name="getPinPids">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="request" type="java:PinPidServiceRequestVO" xmlns:java="java:ca.teranet.gwh.pinpidservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPinPidsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:PinPidServiceResponseVO" xmlns:java="java:ca.teranet.gwh.pinpidservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="getPinPids">
    <WL5G3N0:part element="WL5G3N1:getPinPids" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getPinPidsResponse">
    <WL5G3N0:part element="WL5G3N1:getPinPidsResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="PinPidService">
    <WL5G3N0:operation name="getPinPids" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:getPinPids"/>
      <WL5G3N0:output message="WL5G3N1:getPinPidsResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="PinPidServiceSoapBinding" type="WL5G3N1:PinPidService">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="getPinPids">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="PinPidService">
    <WL5G3N0:port binding="WL5G3N1:PinPidServiceSoapBinding" name="PinPidServiceSoapPort">
      <WL5G3N2:address location="http://msstseapwnut01:8101/gwhPinPidService/PinPidService"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>