setup/wsdl/RegisterAdaptor.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.teranet.ca/elrs/RegisterAdaptor" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegisterAdaptor" targetNamespace="http://www.teranet.ca/elrs/RegisterAdaptor">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.teranet.ca/elrs/RegisterAdaptor" schemaLocation="RegisterAdaptor_metadata1.xsd"></xsd:import>
    </xsd:schema>
  </types>
  <message name="lipopt11B">
    <part element="tns:lipopt11B" name="parameters"></part>
  </message>
  <message name="lipopt11BResponse">
    <part element="tns:lipopt11BResponse" name="parameters"></part>
  </message>
  <message name="lipopt15">
    <part element="tns:lipopt15" name="parameters"></part>
  </message>
  <message name="lipopt15Response">
    <part element="tns:lipopt15Response" name="parameters"></part>
  </message>
  <message name="lipopt16">
    <part element="tns:lipopt16" name="parameters"></part>
  </message>
  <message name="lipopt16Response">
    <part element="tns:lipopt16Response" name="parameters"></part>
  </message>
  <message name="lipopt11">
    <part element="tns:lipopt11" name="parameters"></part>
  </message>
  <message name="lipopt11Response">
    <part element="tns:lipopt11Response" name="parameters"></part>
  </message>
  <message name="lipopt13">
    <part element="tns:lipopt13" name="parameters"></part>
  </message>
  <message name="lipopt13Response">
    <part element="tns:lipopt13Response" name="parameters"></part>
  </message>
  <message name="lipopt44">
    <part element="tns:lipopt44" name="parameters"></part>
  </message>
  <message name="lipopt44Response">
    <part element="tns:lipopt44Response" name="parameters"></part>
  </message>
  <message name="lipopt61">
    <part element="tns:lipopt61" name="parameters"></part>
  </message>
  <message name="lipopt61Response">
    <part element="tns:lipopt61Response" name="parameters"></part>
  </message>
  <message name="lipopt73">
    <part element="tns:lipopt73" name="parameters"></part>
  </message>
  <message name="lipopt73Response">
    <part element="tns:lipopt73Response" name="parameters"></part>
  </message>
  <message name="lipopt74">
    <part element="tns:lipopt74" name="parameters"></part>
  </message>
  <message name="lipopt74Response">
    <part element="tns:lipopt74Response" name="parameters"></part>
  </message>
  <message name="lipopt77">
    <part element="tns:lipopt77" name="parameters"></part>
  </message>
  <message name="lipopt77Response">
    <part element="tns:lipopt77Response" name="parameters"></part>
  </message>
  <message name="lipopt83">
    <part element="tns:lipopt83" name="parameters"></part>
  </message>
  <message name="lipopt83Response">
    <part element="tns:lipopt83Response" name="parameters"></part>
  </message>
  <message name="lipopt82">
    <part element="tns:lipopt82" name="parameters"></part>
  </message>
  <message name="lipopt82Response">
    <part element="tns:lipopt82Response" name="parameters"></part>
  </message>
  <message name="lipopt80">
    <part element="tns:lipopt80" name="parameters"></part>
  </message>
  <message name="lipopt80Response">
    <part element="tns:lipopt80Response" name="parameters"></part>
  </message>
  <message name="lipopt81">
    <part element="tns:lipopt81" name="parameters"></part>
  </message>
  <message name="lipopt81Response">
    <part element="tns:lipopt81Response" name="parameters"></part>
  </message>
  <message name="lipopt10">
    <part element="tns:lipopt10" name="parameters"></part>
  </message>
  <message name="lipopt10Response">
    <part element="tns:lipopt10Response" name="parameters"></part>
  </message>
  <message name="lipopt17">
    <part element="tns:lipopt17" name="parameters"></part>
  </message>
  <message name="lipopt17Response">
    <part element="tns:lipopt17Response" name="parameters"></part>
  </message>
  <message name="lipopt18">
    <part element="tns:lipopt18" name="parameters"></part>
  </message>
  <message name="lipopt18Response">
    <part element="tns:lipopt18Response" name="parameters"></part>
  </message>
  <message name="lipopt19">
    <part element="tns:lipopt19" name="parameters"></part>
  </message>
  <message name="lipopt19Response">
    <part element="tns:lipopt19Response" name="parameters"></part>
  </message>
  <message name="lipopt20">
    <part element="tns:lipopt20" name="parameters"></part>
  </message>
  <message name="lipopt20Response">
    <part element="tns:lipopt20Response" name="parameters"></part>
  </message>
  <message name="lipopt39">
    <part element="tns:lipopt39" name="parameters"></part>
  </message>
  <message name="lipopt39Response">
    <part element="tns:lipopt39Response" name="parameters"></part>
  </message>
  <message name="lipopt42">
    <part element="tns:lipopt42" name="parameters"></part>
  </message>
  <message name="lipopt42Response">
    <part element="tns:lipopt42Response" name="parameters"></part>
  </message>
  <portType name="RegisterAdaptor">
    <operation name="lipopt11B">
      <input message="tns:lipopt11B" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt11BRequest"></input>
      <output message="tns:lipopt11BResponse" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt11BResponse"></output>
    </operation>
    <operation name="lipopt15">
      <input message="tns:lipopt15" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt15Request"></input>
      <output message="tns:lipopt15Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt15Response"></output>
    </operation>
    <operation name="lipopt16">
      <input message="tns:lipopt16" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt16Request"></input>
      <output message="tns:lipopt16Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt16Response"></output>
    </operation>
    <operation name="lipopt11">
      <input message="tns:lipopt11" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt11Request"></input>
      <output message="tns:lipopt11Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt11Response"></output>
    </operation>
    <operation name="lipopt13">
      <input message="tns:lipopt13" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt13Request"></input>
      <output message="tns:lipopt13Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt13Response"></output>
    </operation>
    <operation name="lipopt44">
      <input message="tns:lipopt44" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt44Request"></input>
      <output message="tns:lipopt44Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt44Response"></output>
    </operation>
    <operation name="lipopt61">
      <input message="tns:lipopt61" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt61Request"></input>
      <output message="tns:lipopt61Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt61Response"></output>
    </operation>
    <operation name="lipopt73">
      <input message="tns:lipopt73" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt73Request"></input>
      <output message="tns:lipopt73Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt73Response"></output>
    </operation>
    <operation name="lipopt74">
      <input message="tns:lipopt74" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt74Request"></input>
      <output message="tns:lipopt74Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt74Response"></output>
    </operation>
    <operation name="lipopt77">
      <input message="tns:lipopt77" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt77Request"></input>
      <output message="tns:lipopt77Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt77Response"></output>
    </operation>
    <operation name="lipopt83">
      <input message="tns:lipopt83" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt83Request"></input>
      <output message="tns:lipopt83Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt83Response"></output>
    </operation>
    <operation name="lipopt82">
      <input message="tns:lipopt82" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt82Request"></input>
      <output message="tns:lipopt82Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt82Response"></output>
    </operation>
    <operation name="lipopt80">
      <input message="tns:lipopt80" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt80Request"></input>
      <output message="tns:lipopt80Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt80Response"></output>
    </operation>
    <operation name="lipopt81">
      <input message="tns:lipopt81" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt81Request"></input>
      <output message="tns:lipopt81Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt81Response"></output>
    </operation>
    <operation name="lipopt10">
      <input message="tns:lipopt10" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt10Request"></input>
      <output message="tns:lipopt10Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt10Response"></output>
    </operation>
    <operation name="lipopt17">
      <input message="tns:lipopt17" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt17Request"></input>
      <output message="tns:lipopt17Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt17Response"></output>
    </operation>
    <operation name="lipopt18">
      <input message="tns:lipopt18" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt18Request"></input>
      <output message="tns:lipopt18Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt18Response"></output>
    </operation>
    <operation name="lipopt19">
      <input message="tns:lipopt19" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt19Request"></input>
      <output message="tns:lipopt19Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt19Response"></output>
    </operation>
    <operation name="lipopt20">
      <input message="tns:lipopt20" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt20Request"></input>
      <output message="tns:lipopt20Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt20Response"></output>
    </operation>
    <operation name="lipopt39">
      <input message="tns:lipopt39" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt39Request"></input>
      <output message="tns:lipopt39Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt39Response"></output>
    </operation>
    <operation name="lipopt42">
      <input message="tns:lipopt42" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt42Request"></input>
      <output message="tns:lipopt42Response" wsam:Action="http://www.teranet.ca/elrs/RegisterAdaptor/RegisterAdaptor/lipopt42Response"></output>
    </operation>
  </portType>
  <binding name="RegisterAdaptorPortBinding" type="tns:RegisterAdaptor">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="lipopt11B">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt15">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt16">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt11">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt13">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt44">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt61">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt73">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt74">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt77">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt83">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt82">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt80">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt81">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt10">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt17">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt18">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt19">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt20">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt39">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="lipopt42">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="RegisterAdaptor">
    <port binding="tns:RegisterAdaptorPortBinding" name="RegisterAdaptorPort">
      <soap:address location="http://msscseptvldv01:7903/elrsa2a/RegisterAdaptor"></soap:address>
    </port>
  </service>
</definitions>